.upperbody {
  position: relative;

}



.Schnellzugriff-Feld {
  display: none;
}

#blau{
  background-color: #193058;
  width: 100%;
  height: 42px;
  top: 0%;
  overflow: hidden;
  position: fixed;
  left: 0;
}

#upperbar {
  background-color: #193058;
  position: fixed;
  top: 0%;
  width: 80%;
  overflow: hidden;
  z-index: 1;
  left: 10%;
}
#upperbar button {
  background-color: #193058;
  border: none;
  color: #c4c4c4;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 10px -30px 0 50px;
}

#upperbar img {
  height: 24px;
}

#upperbar a {
  float: right;
  display: block;
  color: #dfdfdf;
  padding: 4px;
  text-decoration: none;
  margin: 3px 10px;
  text-align: center;
}

#upperbar button:hover {
  background: #193058;
  color: white;
}

#upperbar a:hover {
  background: #193058;
  color: white;
}

.Profil {
  padding-top: 200px;
  background-color: #f1f1f1;
  left: 10%;
  width: 80%;
  position: relative;
}
.Profil img {
  border-radius: 50%;
  width: 200px;
  height: 220px;
}

#Standorte {
  display: flex;
  justify-content: space-between;
  background-color: #b4d4ed;
  text-align: center;
  width: 80%;
  left: 10%;
  position: relative;
}



.container {
  background-color: #b4d4ed;
  text-align: center;
  overflow: hidden;
}
#Überschrift {
  display: inline-block;
  text-align: center;
}
#Standorte h2 {
  font-weight: normal;
  color: #333333;
}

#Standorte h3 {
  font-weight: normal;
  color: #233b62;
}


#weiß{
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 112px;
  top: 42px;
  overflow: hidden;
  position: fixed;
  left: 0;
  box-shadow: 10px 10px 14px silver;
}

#lowerbar {
  top: 42px;
  background-color: rgb(255, 255, 255);
  position: fixed;
  z-index: 1;
  width: 80%;
  left: 10%;
}

#lowerbar button {
  float: right;
  display: block;
  color: #0e0000;
  background-color: rgb(255, 255, 254);
  border: solid rgb(255, 255, 255);
  text-align: center;
  padding: 0px 10px;
  text-decoration: none;
  margin: 10px 0 0 0;
  font-size: 20px;
}
#lowerbar button:hover {
  background: #dfdfdf;
  color: #b6163d;
}

.dropdown {
  position: relative;
  display: block;
}

.dropdown2 {
  position: relative;
  display: block;
}

.dropdown3 {
  position: relative;
  display: block;
}

.dropdown4 {
  position: relative;
  display: block;
}

.dropdown5 {
  position: relative;
  display: block;
}

.dropdown-Studium {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 40px;
}

.dropdown-Hochschule {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 40px;
}

.dropdown-Forschung {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 40px;
}

.dropdown-International {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 40px;
}

.dropdown-Netzwerke {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 40px;
}

.dropdown-Studium a {
  color: black;
  padding: 10px 12px;
  text-decoration: none;
  display: block;
}
.dropdown-Hochschule a {
  color: black;
  padding: 10px 12px;
  text-decoration: none;
  display: block;
}
.dropdown-Forschung a {
  color: black;
  padding: 10px 12px;
  text-decoration: none;
  display: block;
}
.dropdown-International a {
  color: black;
  padding: 10px 12px;
  text-decoration: none;
  display: block;
}
.dropdown-Netzwerke a {
  color: black;
  padding: 10px 12px;
  text-decoration: none;
  display: block;
}

.dropdown-Studium a:hover {
  background-color: #ddd;
  color: #b6163d;
}
.dropdown-Hochschule a:hover {
  background-color: #ddd;
  color: #b6163d;
}
.dropdown-Forschung a:hover {
  background-color: #ddd;
  color: #b6163d;
}
.dropdown-International a:hover {
  background-color: #ddd;
  color: #b6163d;
}
.dropdown-Netzwerke a:hover {
  background-color: #ddd;
  color: #b6163d;
}

.dropdown:hover .dropdown-Studium {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.dropdown2:hover .dropdown-Hochschule {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.dropdown3:hover .dropdown-Forschung {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.dropdown4:hover .dropdown-International {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.dropdown5:hover .dropdown-Netzwerke {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.dropdown:hover .dropbtn {
  background-color: #dfdfdf;
}
.dropdown2:hover .dropbtn2 {
  background-color: #dfdfdf;
}
.dropdown3:hover .dropbtn3 {
  background-color: #dfdfdf;
}
.dropdown4:hover .dropbtn4 {
  background-color: #dfdfdf;
}
.dropdown5:hover .dropbtn5 {
  background-color: #dfdfdf;
}

.Hs-logo {
  float: left;
}

footer {
  background-color: #333333;
  height: 110px;
  overflow: auto;
  text-align: center;
}

#foot{
  left: 10%;
  width: 80%;
  position: relative;
}

footer a {
  margin-top: 70px;
  display: inline-block;
  font-weight: bold;
  padding: 12px;
  margin: 26px;
  color: white;
  text-decoration: none;
}






.spiel{
  left:10%;
  width: 80%;
  position: relative;
}

#gameTitle{
  text-align: center;
  margin: 0 auto;
}
#buttons{
  text-align: center;
  width: 50%;
  margin: 0 auto;
  padding: 16px;
}

#board{
  width: 50vmin;
  height: 50vmin;
  margin: 0 auto;
}


.field{

  float: left;
  width: 19.5%;
  height: 19.5%;
  background-color:whitesmoke;
  box-sizing: border-box;
  border: 0.5px solid black;
  position: relative;
  background-image: url("images/symbols.svg") ;
  background-size: 1800%;
}

.sideField{
  background-color: greenyellow;
}

#game{
  margin: 1vmin;
}





.atom{
  background-position: -100%;
}

.kugel{
  text-align: center;
}
.pfeil-R{
  background-position: -200%;
}
.pfeil-O{
  background-position: -300%;
}
.pfeil-L{
  background-position: -400%;
}
.pfeil-U{
  background-position: -500%;
}
.pfeil-LR{
  background-position: -600%;
}
.pfeil-OU{
  background-position: -700%;
}
.linie-waagerecht{
  background-position: -800%;
}
.linie-senkrecht{
  background-position: -900%;
}
.linie-bogen-l-o{
  background-position: -1000%;
}
.linie-bogen-l-u{
  background-position: -1100%;
}
.linie-bogen-r-u{
  background-position: -1200%;
}
.linie-bogen-r-o{
  background-position: -1300%;
}
.T-form-zeigt-l{
  background-position: -1400%;
}
.T-form-zeigt-u{
  background-position: -1500%;
}
.T-form-zeigt-r{
  background-position: -1600%;
}
.T-form-zeigt-o{
  background-position: -1700%;
}